<div class="containner__big-card">
  <div class="big-card__photo">
    <img
      src="https://miro.medium.com/v2/resize:fit:1400/1*bMgQ8MhbnQexpqHgIgBJPA.png"
      alt=""
      height="200px"
    >
  </div>
  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>

  <div class="big-card__discription">
    <p>
      <a href="#">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur dolorum repellendus sint quaerat, dignissimos inventore. Totam aut necessitatibus nesciunt sunt omnis iure fuga ullam nemo ipsam, et, enim similique sed.
      </a>
    </p>
  </div>
</div>
